## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kwinana,AU,-32.2500,115.7667,61.34,100,91,16.67,overcast clouds
1,1,Vaitape,PF,-16.5167,-151.7500,82.17,74,100,19.26,overcast clouds
2,2,Vaini,TO,-21.2000,-175.2000,75.36,94,75,0.00,broken clouds
3,3,Norman Wells,CA,65.2820,-126.8329,30.24,47,20,3.44,few clouds
4,4,Hobart,AU,-42.8794,147.3294,52.05,87,0,8.05,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))

max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                      (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Vaitape,PF,-16.5167,-151.7500,82.17,74,100,19.26,overcast clouds
2,2,Vaini,TO,-21.2000,-175.2000,75.36,94,75,0.00,broken clouds
5,5,Sharjah,AE,25.3573,55.4033,87.78,41,0,3.44,clear sky
7,7,Marsh Harbour,BS,26.5412,-77.0636,75.54,70,100,15.79,overcast clouds
10,10,Sao Jose Da Coroa Grande,BR,-8.8978,-35.1478,81.52,75,41,8.32,scattered clouds
14,14,Cabo San Lucas,MX,22.8909,-109.9124,85.30,53,20,14.97,few clouds
19,19,Oistins,BB,13.0667,-59.5333,86.09,58,40,17.27,scattered clouds
25,25,Saint-Philippe,RE,-21.3585,55.7679,76.59,87,74,12.01,light rain
28,28,Avarua,CK,-21.2078,-159.7750,80.65,89,20,8.05,few clouds
32,32,Sao Filipe,CV,14.8961,-24.4956,76.62,63,0,12.01,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
print(len(preferred_cities_df))
print(preferred_cities_df.count())
print(preferred_cities_df.isnull().sum())

220
City_ID                220
City                   220
Country                220
Lat                    220
Lng                    220
Max Temp               220
Humidity               220
Cloudiness             220
Wind Speed             220
Current Description    220
dtype: int64
City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
print(len(clean_df))
clean_df.head(10)

220

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Vaitape,PF,-16.5167,-151.7500,82.17,74,100,19.26,overcast clouds
2,2,Vaini,TO,-21.2000,-175.2000,75.36,94,75,0.00,broken clouds
5,5,Sharjah,AE,25.3573,55.4033,87.78,41,0,3.44,clear sky
7,7,Marsh Harbour,BS,26.5412,-77.0636,75.54,70,100,15.79,overcast clouds
10,10,Sao Jose Da Coroa Grande,BR,-8.8978,-35.1478,81.52,75,41,8.32,scattered clouds
14,14,Cabo San Lucas,MX,22.8909,-109.9124,85.30,53,20,14.97,few clouds
19,19,Oistins,BB,13.0667,-59.5333,86.09,58,40,17.27,scattered clouds
25,25,Saint-Philippe,RE,-21.3585,55.7679,76.59,87,74,12.01,light rain
28,28,Avarua,CK,-21.2078,-159.7750,80.65,89,20,8.05,few clouds
32,32,Sao Filipe,CV,14.8961,-24.4956,76.62,63,0,12.01,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Vaitape,PF,82.17,overcast clouds,-16.5167,-151.7500,
2,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,
5,Sharjah,AE,87.78,clear sky,25.3573,55.4033,
7,Marsh Harbour,BS,75.54,overcast clouds,26.5412,-77.0636,
10,Sao Jose Da Coroa Grande,BR,81.52,scattered clouds,-8.8978,-35.1478,
14,Cabo San Lucas,MX,85.30,few clouds,22.8909,-109.9124,
19,Oistins,BB,86.09,scattered clouds,13.0667,-59.5333,
25,Saint-Philippe,RE,76.59,light rain,-21.3585,55.7679,
28,Avarua,CK,80.65,few clouds,-21.2078,-159.7750,
32,Sao Filipe,CV,76.62,clear sky,14.8961,-24.4956,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name. Code is running correctly, test lines have been commented out
# import NumPy module
import numpy as np

    # get initial length of DataFrame
# print(len(hotel_df)) 
    # Determine how many Hotel Names contain empty values
# print(hotel_df[hotel_df["Hotel Name"] == ''].count()) 

    # Convert emmpty values to NaN values
hotel_df["Hotel Name"].replace('', np.nan, inplace=True) 

    # Print sum of Null values
# print(hotel_df["Hotel Name"].isnull().sum()) 

    # Drop the NaN values and save to new DataFrame
clean_hotel_df = hotel_df.dropna() 

    # confirm new length of DataFrame with NaN values removed
# print(len(hotel_df)) 

    # Sample DataFrame to ensure NaN values removed
clean_hotel_df.sample(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
197,Cockburn Town,TC,82.36,scattered clouds,21.4612,-71.1419,Osprey Beach Hotel
605,Lorengau,PG,78.15,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
659,Karratha,AU,83.17,few clouds,-20.7377,116.8463,ibis Styles Karratha
219,Ambon,ID,80.74,scattered clouds,-3.6954,128.1814,Swiss-Belhotel Ambon
322,San-Pedro,CI,81.97,overcast clouds,4.7485,-6.6363,Hotel Maria
76,Vila Velha,BR,85.95,scattered clouds,-20.3297,-40.2925,Hotel Vitória Palace
430,The Valley,AI,84.06,broken clouds,18.2170,-63.0578,CeBlue Villas & Beach Resort
397,Mount Isa,AU,76.77,clear sky,-20.7333,139.5000,ibis Styles Mt Isa Verona
376,Munirabad,IN,87.26,overcast clouds,15.3333,76.3333,MANJU DJ
592,Kudahuvadhoo,MV,83.55,overcast clouds,2.6708,72.8944,Niyama Private Islands Maldives

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))